<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Registered Endpoints</title>
</head>
<body>
    <div class="w3-container w3-teal" style="width:55%">
        <h1 class="text-3xl font-bold underline">Registered Endpoints</h1>
    </div>
    <ul>
        <p><b>Port:</b> {{.Port}}</p>
        {{range .Routes}}
        <div class="w3-row"></div>
        <div class="w3-col m4 l1">
            {{ if eq .Method "GET"}}
            <div class="w3-panel w3-aqua w3-card-4" >  
            {{.Method}}
            </div>
            {{ end }}
            {{ if eq .Method "POST"}}
            <div class="w3-panel w3-cyan w3-card-4" >  
            {{.Method}}
            </div>
            {{ end }}
            {{ if (eq .Method "PUT") }}
            <div class="w3-panel w3-green w3-card-4" >  
            {{.Method}}
            {{ end }}
            {{ if (eq .Method "DELETE") }}
            <div class="w3-panel w3-red w3-card-4" >  
            {{.Method}}
            {{ end }}
            {{ if (eq .Method "PATCH") }}
            <div class="w3-panel w3-yellow w3-card-4" >  
            {{.Method}}
            {{ end }}
        </div>
        <div class="w3-col m12 l2">
            <div class="w3-panel w3-blue w3-card-4">  
                {{.Path}}
            </div>
            </div>
        </div>
        <div class="w3-col m12 l3">
            <div class="w3-panel w3-light-blue w3-card-4">  
                {{.Name}}
            </div>
            </div>
        </div>
        {{end}}
    </ul>
    <br>
    <br>
    <br>
    <div class="w3-container w3-teal" style="width:55%">
        <h1 class="text-3xl font-bold underline">Admin Endpoints</h1>
    </div>
    <ul>
        <p><b>Admin Port:</b> {{.AdminPort}}</p>
        {{range .AdminRoutes}}
        <div class="w3-row"></div>
        <div class="w3-col m4 l1">
            {{ if eq .Method "GET"}}
            <div class="w3-panel w3-aqua w3-card-4" >  
            {{.Method}}
            </div>
            {{ end }}
            {{ if eq .Method "POST"}}
            <div class="w3-panel w3-cyan w3-card-4" >  
            {{.Method}}
            </div>
            {{ end }}
            {{ if (eq .Method "PUT") }}
            <div class="w3-panel w3-green w3-card-4" >  
            {{.Method}}
            {{ end }}
            {{ if (eq .Method "DELETE") }}
            <div class="w3-panel w3-red w3-card-4" >  
            {{.Method}}
            {{ end }}
            {{ if (eq .Method "PATCH") }}
            <div class="w3-panel w3-yellow w3-card-4" >  
            {{.Method}}
            {{ end }}
        </div>
        <div class="w3-col m12 l2">
            <div class="w3-panel w3-blue w3-card-4">  
                {{.Path}}
            </div>
            </div>
        </div>
        <div class="w3-col m12 l3">
            <div class="w3-panel w3-light-blue w3-card-4">  
                {{.Name}}
            </div>
            </div>
        </div>
        {{end}}
    </ul>
</body>
</html>

